<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ShoppingcartConnectionString" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=Shoppingcart;User ID=sa;Password=admin#1"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingcartConnectionString2" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=Shoppingcart;Persist Security Info=True;User ID=sa;Password=admin#1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.net>
    <mailSettings>
      <smtp from="From Address">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="From Address" password="Password" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
